<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <div>
    <form method="POST" action="/new" >
      <h1>New Message</h1>
      <input name="username" type="text" id="username" placeholder="Your name" required>
      <input name="userMessage" type="text" id="userMessage" placeholder="Type your message here" required>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>